<!DOCTYPE html>
<html>
<TMPL_INCLUDE _boilerplate.tmpl />

<body class="anchor-changes">
	<TMPL_INCLUDE _header_footer.tmpl />

	<div class="outwrapper main prel">
		<h2>AutozygosityMapper</h2>
		<ul>
			<li><a href="documentation.html">documentation.html</a></li>
			<li><a href="changes.html">changes.html</a></li>
			<li><a href="CreateProfile.html">CreateProfile.html</a></li>
			<li><a href="documentation.html">documentation.html</a></li>
			<li><a href="examples.html">examples.html</a></li>
			<li><a href="lostPW.html">lostPW.html</a></li>
			<li><a href="sample_files.html">sample_files.html</a></li>
			<li><a href="simulation.html">simulation.html</a></li>
			<li><a href="sitemap.html">sitemap.html</a></li>
			<li><a href="technical_documentation.html">technical_documentation.html</a></li>
			<li><a href="tutorial.html">tutorial.html</a></li>
		</ul>
		<h2>index.html</h2>
		<ul>	
			<li><a href="index.html">index.html</a></li>
			<li><a href="cow/index.html">cow/index.html</a></li>
			<li><a href="dog/index.html">dog/index.html</a></li>
			<li><a href="horse/index.html">horse/index.html</a></li>
			<li><a href="mouse/index.html">mouse/index.html</a></li>
			<li><a href="rat/index.html">rat/index.html</a></li>
			<li><a href="sheep/index.html">sheep/index.html</a></li>
		</ul>
		<h2>AM</h2>
		<ul>
			<li><a href="/AM/Analyse.cgi">Analyse.cgi</a></li>
				<li><a href="/AM/AnalysisSettings.cgi">AnalysisSettings.cgi</a></li>
				<li><a href="/AM/Archive.cgi">Archive.cgi</a></li>
				<li><a href="/AM/CallGeneDistillerWithAllRegions.cgi">CallGeneDistillerWithAllRegions.cgi</a></li>
				<li><a href="/AM/Change.cgi">Change.cgi</a></li>
				<li><a href="/AM/ChooseProject.cgi">ChooseProject.cgi</a></li>
				<li><a href="/AM/CreateAlohomoraFiles.cgi">CreateAlohomoraFiles.cgi</a></li>
				<li><a href="/AM/CreateBEDfile.cgi">CreateBEDfile.cgi</a></li>
				<li><a href="/AM/CreateProfile.cgi">CreateProfile.cgi</a></li>
				<li><a href="/AM/Delete.cgi">Delete.cgi</a></li>
				<li><a href="/AM/DisplayGenotypes2.cgi">DisplayGenotypes2.cgi</a></li>
				<li><a href="/AM/DisplayGenotypes.cgi">DisplayGenotypes.cgi</a></li>
				<li><a href="/AM/ExportGenotypesAsVCF2.cgi">ExportGenotypesAsVCF2.cgi</a></li>
				<li><a href="/AM/ExportGenotypesAsVCF.cgi">ExportGenotypesAsVCF.cgi</a></li>
				<li><a href="/AM/index.cgi">index.cgi</a></li>
				<li><a href="/AM/login.cgi">login.cgi</a></li>
				<li><a href="/AM/login_form.cgi">login_form.cgi</a></li>
				<li><a href="/AM/logout.cgi">logout.cgi</a></li>
				<li><a href="/AM/PrintGenotypes.cgi">PrintGenotypes.cgi</a></li>
				<li><a href="/AM/PrintScores.cgi">PrintScores.cgi</a></li>
				<li><a href="/AM/Restore.cgi">Restore.cgi</a></li>
				<li><a href="/AM/SelectArchive.cgi">SelectArchive.cgi</a></li>
				<li><a href="/AM/SelectChange.cgi">SelectChange.cgi</a></li>
				<li><a href="/AM/SelectDelete.cgi">SelectDelete.cgi</a></li>
				<li><a href="/AM/SelectPermissions_20150830.cgi">SelectPermissions_20150830.cgi</a></li>
				<li><a href="/AM/SelectPermissions2.cgi">SelectPermissions2.cgi</a></li>
				<li><a href="/AM/SelectPermissions_autocompletion.cgi">SelectPermissions_autocompletion.cgi</a></li>
				<li><a href="/AM/SelectPermissions.cgi">SelectPermissions.cgi</a></li>
				<li><a href="/AM/SelectRestore.cgi">SelectRestore.cgi</a></li>
				<li><a href="/AM/SendPassword.cgi">SendPassword.cgi</a></li>
				<li><a href="/AM/SetPermissions.cgi">SetPermissions.cgi</a></li>
				<li><a href="/AM/ShowRegion.cgi">ShowRegion.cgi</a></li>
				<li><a href="/AM/ShowRegionOverview.cgi">ShowRegionOverview.cgi</a></li>
				<li><a href="/AM/ShowUser.cgi">ShowUser.cgi</a></li>
				<li><a href="/AM/Static.cgi">Static.cgi</a></li>
				<li><a href="/AM/UploadGenotypes.cgi">UploadGenotypes.cgi</a></li>
				<li><a href="/AM/UploadSettings.cgi">UploadSettings.cgi				</a></li>
		</ul>
	</div>

</body>

</html>
